## 1. Extracción de Libros Más Vendidos desde Crisol

In [1]:
# Librerias utilizadas
import requests
from bs4 import BeautifulSoup
import pandas as pd
import csv

# URL de la página
url = "https://www.crisol.com.pe/otros/los-mas-vendidoss"

# Realizar la solicitud HTTP
response = requests.get(url)

# Verificar si la solicitud fue exitosa (código de respuesta 200)
if response.status_code == 200:
    # Parsear el contenido HTML con BeautifulSoup
    soup = BeautifulSoup(response.text, 'html.parser')
    titulos = []
    autores = []
    precios = []
    ofertas = []

    # Encontrar todos los elementos div que contienen información de los libros
    libros = soup.find_all('div', class_='product-item-info')

    # Iterar sobre los elementos y extraer la información
    for libro in libros:
        # Obtener Título
        titulo = libro.find('strong', class_='product name product-item-name')
        titulo_text = titulo.text.strip() if titulo else 'No Title'
        titulos.append(titulo_text)

        # Obtener Precios y Ofertas
        for price_box in libro.find_all('div', class_='price-box'):
            special_price = price_box.find('span', class_='special-price')
            old_price = price_box.find('span', class_='old-price')

            # Extraccion de los precios
            if old_price:
                precio_elem = old_price.find('span', class_='price').text.strip()
            else:
                precio_elem = price_box.find('span', class_='price').text.strip()

            # Extracción de las ofertas
            oferta_elem = special_price.find('span', class_='price').text.strip() if special_price else '-'

            # Append to lists
            precios.append(precio_elem)
            ofertas.append(oferta_elem)

        # Obtener Autores
        autor_elems = libro.find_all('div', class_='author')
        autores_text = ', '.join(set([autor.text.strip() for autor in autor_elems]))
        autores.append(autores_text)

    # Crear un DataFrame con los datos
    df = pd.DataFrame({
        'Titulo': titulos,
        'Autores': autores,
        'Precio': precios,
        'Oferta': ofertas
    })

# Imprimir el DataFrame resultante
df

,Titulo,Autores,Precio,Oferta
0,Cuando no queden más estrellas ...,"Martínez, María",S/ 59.90,-
1,Perronejo,"Ramos, Wendy",S/ 69.00,S/ 51.75
2,Tea Shop,"Pinasco, Bruno",S/ 79.90,S/ 59.93
3,Los genios,"Bayly, Jaime",S/ 79.00,S/ 59.25
4,Hábitos atómicos,"Clear, James",S/ 99.90,S/ 74.93
5,Le dedico mi silencio,"Vargas Llosa, Mario",S/ 89.00,S/ 66.75
6,Cómo Hacer que Te Pasen Cosas B...,"Rojas Estapé, Marian",S/ 89.90,S/ 67.43
7,La teoría de Kim,"Sandoval, Jay",S/ 99.00,S/ 74.25
8,Cien cuyes,"Rodríguez, Gustavo",S/ 69.00,S/ 51.75
9,"Rojo, blanco y sangre azul","McQuiston, Casey",S/ 89.00,S/ 66.75
10,El Sutil Arte que te importe un ...,"Manson, Mark",S/ 75.00,S/ 56.25
11,La teoría del amor,"Hazelwood, Ali",S/ 95.00,S/ 71.25
12,EL CLUB DE LAS 5 DE LA MAÑANA,"Sharma, Robin",S/ 49.00,S/ 36.75
13,Presidentes por accidente,"Acosta, Christopher",S/ 59.00,S/ 44.25
14,Tres meses. Meses a tu lado. 3,"Marcús, Joana",S/ 89.00,S/ 66.75